<div class="review">
    <div class="title_r">{{place}}</div>
    <a href="#" onclick='javascript:balloonLink("{{address}}", "{{place}}")' class="review__address">{{address}}</a>
    <div class="review__commit">{{text}}</div>
</div>
<div class="rew_time">{{date}}</div>